<!-- <html class="background-class"></html> -->
<!-- <body class="background-class"></body> -->
<!-- <h3 class="background-class">Hello from login component</h3> -->
<div class="div-class">
  <div class="message">
    <div class="innerdiv">
      <h1>Welcome to BookMySlot</h1>
      <div class="horizontal-line"></div>
      <p>
        As per government guidelines, there is limited seating allowed for
        corporate offices. Employees coming to the office first have to book
        their slot for that particular day before coming to the office.
      </p>
      <button class="btn-primary btn-transparent">Know More</button>
    </div>
  </div>
  <app-login-form></app-login-form>
</div>
