<div class="container">
  <div class="left-menu">
    <img class="profile-pic" src="../../assets/avatar.jpg" />
    <div class="name">{{ userDetails.name }}</div>
    <div class="menu">
      <ul>
        <li
          [routerLink]="['/dashboard']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['selected-li-style']"
        >
          <fa-icon [icon]="['fas', 'columns']" class="icon"></fa-icon>Dashboard
        </li>
        <li
          *ngIf="userDetails.role == 'admin'"
          [routerLink]="['/dashboard/managebookings']"
          [routerLinkActive]="['selected-li-style']"
        >
          <fa-icon [icon]="['fas', 'tasks']" class="icon"></fa-icon>Manage
          Bookings
        </li>
        <li (click)="logout()">
          <fa-icon [icon]="['fas', 'sign-out-alt']" class="icon"></fa-icon>Sign
          Out
        </li>
      </ul>
    </div>
  </div>
  <div class="main-menu">
    <router-outlet></router-outlet>
  </div>
</div>
