<div class="container">
  <div class="box">
    <h2>Editable bookings</h2>
    <table
      id="tableID"
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Booking Date</th>
          <th>Reason to visit office</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings">
          <td>{{ booking.name }}</td>
          <td>{{ booking.email }}</td>
          <td>{{ booking.bookingdate }}</td>
          <td>{{ booking.remark }}</td>
          <td>
            <button
              class="cancelbtn"
              (click)="cancelBooking(booking.id, booking.bookingdate)"
            >
              Cancel Booking
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
